/***********BOUTONS***********/

button {
  color: #22222d;
  background-image: none;
  background-color: #22222d;
  border: none;
}

button:hover {
  background-image: none;
  background-color: #111117;
}

button:hover label {
  color: gray;
}

button:active {
  background-image: none;
  background-color: gray;
}

button:active label {
  color: white;
}

/***********LABELS***********/

label {
  font-size: 125%;
  color: gray;
  font-weight: normal;
}
.titre {
  color: gray;
  font-weight: bolder;
  background-color: black;
}

.grille {
  color: black;
}

/***********COMBOS***********/

.combo {
  color: black;
}
.popup{
  background-color: black;
}
window {
  background-image: none;
  background-color: #333344;
}

grid {
  padding: 3px;
}
