/***********BOUTONS***********/

button {
  color: #78202c;
  background-image: none;
  background-color: #78202c;
  border: none;
}

button:hover {
  background-image: none;
  background-color: #6b0a17;
}

button:hover label {
  color: white;
}

button:active {
  background-image: none;
  background-color: #242020;
}

button:active label {
  color: white;
}

/***********LABELS***********/

label {
  font-size: 125%;
  color: white;
  font-weight: bolder;
}

.titre {
  color: white;
  font-size: larger;
  font-weight: bolder;
  background-color: darkred;
}

.grille {
  color: black;
}

/***********COMBOS***********/

.combo {
  color: white;
}
.popup{
  background-color: darkred;
}
window {
  background-image: none;
  background-color: #84343f;
}

grid {
  padding: 3px;
}
