/***********BOUTONS***********/

button {
  color: brown;
  background-image: url("./image/ShrekButton.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #b5e61d;
  border: none;
}

button:hover label {
  color: brown;
}

button:active {
  background-image: none;
  background-color: green;
}

button:active label {
  color: black;
}

/***********LABELS***********/

label {
  font-size: 125%;
  color: brown;
  font-weight: normal;
}

.titre {
  color: brown;
  font-weight: bolder;
  background-color: greenyellow;
}

.grille {
  color: black;
}

/***********COMBOS***********/

.combo {
  color: brown;
  background-image: none;
}

window {
  background-image: none;
  background-color: lawngreen;
}

grid {
  padding: 3px;
}
