/***********BOUTONS***********/

button {
  color: black;
  background-image: none;
  background-color: #ededed;
  border: none;
}

button:hover {
  background-image: none;
  background-color: rgb(223, 223, 223);
}

button:hover label {
  color: #00609b;
}

button:active {
  background-image: none;
  background-color: silver;
}

button:active label {
  color: white;
}

/***********LABELS***********/

label {
  font-size: 125%;
  color: #00609b;
  font-weight: normal;
}

.titre {
  color: #009bdb;
  font-weight: bolder;
  background-color: white;
}

.grille {
  color: black;
}

/***********COMBOS***********/

.combo {
  color: black;
}

window {
  background-image: none;
  background-color: #fefefe;
}

grid {
  padding: 3px;
}
